#headers {
    margin-top: 3rem;
    display: flex;
  
    header * {
      font-size: 2.25rem;
      margin: 0;
      color: rgba(var(--text-color), 1);
    }
  
    header {
      box-shadow: 0 3px 6px rgba(var(--text-color), .16),0 3px 6px rgba(var(--text-color), .23);
      background-color: rgba(var(--bg-color), 1);
      margin-left: 3rem;
      padding: 5.6rem 3.2rem;
      justify-content: space-around;
      transition: all .4s;
    }
  
  }
  