#input-section {
    margin-top: 3rem;
    margin-left: 6rem;
  
    *{ display: block;}
  
    input {
      width: max-content;
      font-size: 3rem;
      text-transform: uppercase;
      background-color: transparent;
      opacity: .36;
      outline: none;
      border: none;
      color: rgba(var(--text-color), 1);
    }
    label {
      visibility: hidden;
      color: rgba(var(--text-color), 1);
      font-size: 1rem;
      opacity: .5;
    }
  
    input:focus + label {
      visibility: visible;
    }
    ::placeholder { color: inherit;}
  
    @media (max-width: 1100px) {
      margin: 3rem 0 0;
   }
  }
  