#menu-section {
    input { display: none;}
    color: rgba(var(--text-color), 1);
  }
  
  input#menu:checked {
    ~ #menu-controller { transform: translate(-10vw);}
    ~ #menu-dimmed-bg {
      visibility: visible;
      transform: translate(0);
      transition: transform 1s 0;
    }
    ~ #menu-content {
      opacity: 1;
      transform: translate(0);
      transition: transform .5s .4s;
    }
  }
  
