#menu-section {
    input { display: none;}
    color: rgba(var(--text-color), 1);
  }
  
  input#menu:checked {
    ~ #menu-controller { transform: translate(-10vw);}
    ~ #menu-dimmed-bg {
      visibility: visible;
      transform: translate(0);
      transition: transform 1s 0;
    }
    ~ #menu-content {
      opacity: 1;
      transform: translate(0);
      transition: transform .5s .4s;
    }
  }
  
  #menu-controller {
    width: calc(4.5vw + 70px);
    min-height: 100vh;
    height: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    padding-top: 40px;
    background-image: linear-gradient(rgba(var(--sidebar-gradient-1), 1), rgba(var(--sidebar-gradient-2), 1));
    box-shadow: 0 10px 20px rgba(var(--shadow-color), .19), 0 6px 6px rgba(var(--shadow-color), .23);
    transition: transform 1s;
  
  }
  
