@keyframes flipInX {
    from {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg) translateY(-50%);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    
    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg) translateY(-50%);
        animation-timing-function: ease-in;
    }
    
    60% {
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg) translateY(-50%);
        opacity: 1;
    }
    
    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg) translateY(-50%);
    }
    
    to {
        transform: perspective(400px) translateY(-50%);
    }
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#modal {
    border: none;
    font-size: 1rem;
    background-image: linear-gradient(to left, rgba(var(--gradient-1), 1), rgba(var(--gradient-2), 1));
    color: white;
    padding: 2.8rem 10rem;
    position: fixed;
    z-index: 100;
    top: 50%;
    outline: none;
    transform: translateY(-50%);
    
    h2 {
        margin-bottom: 30px;
        line-height: 170%;
    }
    
    button {
        outline: none;
        border: 2px solid white;;
        font-size: 1.15rem;
        background-color: white;
        color: #222;
        padding: .6em 4em;
        transition: all .1s;
        background-color: transparent;
        color: white;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    &[open] {
        animation: flipInX ease .5s .2s;
        animation-fill-mode: both;
        @media (max-width: 1100px) {
            animation: fadeIn ease .25s;
        }
    }
    
}


