body { margin: 0; }

.black { font-weight: 900; }

.bold { font-weight: 700; }

header, h1,  h2, h3, h4, h5, h6, input { font-weight: inherit;}

button, input { font-family: inherit;}

ul { padding: 0;}

:root {
    min-height: 100vh;
    @media (max-width: 1720px) {font-size: 95%; }
    @media (max-width: 1600px) {font-size: 90%; }
    @media (max-width: 1500px) {font-size: 82%; }
    @media (max-width: 1400px) {font-size: 75%; }
    @media (max-width: 1300px) {font-size: 70%; }
    @media (max-width: 1200px) {font-size: 62%; }
    @media (max-width: 1100px) {font-size: 55%; }
    @media (max-width: 1000px) {font-size: 50%; }
    @media (max-width: 900px) {font-size: 45%; }
    @media (max-width: 800px) {font-size: 42%; }
    @media (max-width: 700px) {font-size: 38%; }
    @media (max-width: 600px) {font-size: 35%; }
    @media (max-width: 500px) {font-size: 32%; }
  }
  body{
    font-family: "Mantserrat", sans-serif;
    background-color: rgba(var(--bg-color), 1);
    cursor: default;
    min-height: 100vh;
    // display: none;
    @media (max-width: 1100px) {flex-direction: column;}
  } 