@keyframes task-exit {
    from {
        transform: perspective(400px);
    }

    30% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    to {
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

.exit {
    animation-name: task-exit;
    animation-duration: .35s;
    animation-fill-mode: forwards;
}

#task-list {
  height: 40vh;
  margin-left: 6rem;
  margin-top: 3rem;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  user-select: none;
  font-size: 16px;

  li {
    list-style: none;
    font-size: 5rem;
    margin: .34em 0;
    margin-right: 2em;
    color: rgba(var(--text-color), 1);
  }

  @media (max-width: 1500px) {font-size: 15px; }
  @media (max-width: 1400px) {height: 54vh;}
  @media (max-width: 1300px) {font-size: 14px;}
}
