:root{
    // Light theme
    --bg-color: 255, 255, 255;
    --text-color: 12, 12 ,12;
    --shadow-color: 0, 0, 0;
      // Dark theme
      --bg-color: 19, 19, 19;
      --text-color: 255, 255 ,255;
  }
  